p{
    color: blue;
    }
    span{
        color: green;
    }
    #modern {
        color: blanchedalmond;
    }
    .golyó {
        color: black;
    }
    body span {
        color: purple;
    }